h1 {
  font-size: 2.4rem;
}
sup {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 1px 4px;
  border-radius: 4px;
}

body {
  background-color: #c0c0c0;
}

.textbox {
  display: flex;
  textarea {
    width: 100%;
    resize: vertical;
  }
}

#wizard,
h1 {
  max-width: 640px;
  min-width: 540px;

  margin: 0 auto;
}

#progress {
  width: 420px;
}

.window {
  position: absolute;
}
#alerts {
  .window {
    width: 300px;
  }
}

#login {
  width: 300px;
}
