h1 {
  font-size: 2.4rem;
}
sup {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 1px 4px;
  border-radius: 4px;
}

body {
  background-color: #c0c0c0;
  background-image: url("/static/banner.svg");
  background-repeat: repeat-x;
  background-position: 00px 90px;
}

.footer {
  position: fixed;
  bottom:11px;
  right:11px;
  font-family:monospace;
}

.textbox {
  display: flex;
  textarea {
    width: 100%;
    resize: vertical;
  }
}

#wizard {
  max-width: 640px;
  min-width: 540px;
  top: 20vh;
  left: 20vw;
}

h1 {
  text-align: center;
}

#progress {
  width: 300px;
  .cimg {
    display: flex;
    justify-content: center;
    img {
      image-rendering: pixelated;
    }
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.title-bar {
  cursor: move;
  touch-action: none;
}

#signature {
  display: none;
}

.hidden {
  display: none;
}

.window {
  top: -1999999px;
  left: 0px;
  user-select: none;
  position: absolute;
}
#alerts {
  .window {
    width: 300px;
  }
}

#login {
  width: 300px;
}

select,
::picker(select) {
  appearance: base-select;
}
